streamlit==1.46.0
requests
youtube-transcript-api
yt-dlp
imageio-ffmpeg
openai
faster-whisper
curl_cffi==0.14.0
yt_dlp_ejs
pypdf
python-docx
python-pptx
beautifulsoup4
PyMuPDF
rapidocr_onnxruntime
numpy
